@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #131314;
}
#editor {
    padding: 2px 7px 2px 7px !important;

}

.gjs-one-bg {
    background-color: #131314 !important;


}


.gjs-pn-commands {
    height: 3.3rem !important;
    box-shadow: 0 0 5px rgb(26, 36, 58) !important;
}

.gjs-pn-buttons {
    padding-top: 8px;
}
.gjs-cv-canvas {
    padding: 0px 15px 0px 15px !important;
    background-color: rgba(0,0,0,.15);
    box-sizing: border-box;
    width: 85%;
    height: calc(100% - 60px) !important;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    padding: 10px !important;
    margin-top: 1.2rem;
    top: 40px;
}